<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.angdroid.nightly" android:versionCode="1"
	android:versionName="3.3.X"
	android:installLocation="auto">

	<application android:icon="@drawable/icon" 
				 android:label="@string/app_name"
				 android:allowClearUserData="true" 
				 android:name=".AngbandApp"
				 android:description="@string/description">

		<activity android:name=".AngbandActivity" 
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				  android:multiprocess="false" 
				  android:launchMode="singleTask" 
				  android:configChanges="orientation|keyboardHidden" 
				  android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".GameActivity" 
				  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
				  android:configChanges="keyboardHidden" 
				  android:launchMode="singleTask" 
				  android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action android:name="org.angdroid.nightly.GAME" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".HelpActivity" android:label="@string/angband_help"
			>
			<intent-filter>
				<action android:name="org.angdroid.nightly.HELP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".PreferencesActivity" android:label="@string/preferences"
			>
			<intent-filter>
				<action android:name="org.angdroid.nightly.PREF" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".ProfilesActivity" android:label="@string/profiles"
			>
			<intent-filter>
				<action android:name="org.angdroid.nightly.PROFILES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".ProfileAddActivity" android:label="@string/profileadd"
			>
			<intent-filter>
				<action android:name="org.angdroid.nightly.PROFILEADD" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<!-- Defining the ScoreloopUI activities -->

		<activity android:name="com.scoreloop.client.android.ui.EntryScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.ShowResultOverlayActivity" android:theme="@style/sl_dialog"/>

		<activity android:name="com.scoreloop.client.android.ui.component.market.MarketHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.market.MarketListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.entry.EntryListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.post.PostOverlayActivity" android:theme="@style/sl_dialog"/>
		<activity android:name="com.scoreloop.client.android.ui.component.score.ScoreHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.score.ScoreListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserAddBuddyListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserDetailListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.game.GameListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsPictureListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.LeaderboardsScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		
		<activity android:name="com.scoreloop.client.android.ui.framework.ScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.framework.TabsActivity"/>

	</application>
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="10" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
